@page "/"

<!DOCTYPE html>
    <html>
    <head>
        <PageTitle>SCHEDIO</PageTitle>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SCHEDIO</title>
        <link rel="stylesheet" href="~/css/app.css"
    </head>
    <body>
        <div class="container">
            <div class="content">
            <h1>SCHEDIO</h1>
                <h5>Nunca volverás a olvidar una fecha importante</h5>
                <div>
                    <input type="file" id="file">
                    <label for="file">INSERTA TU PROGRAMA DE CURSO</label>
                </div>
            </div>
           
        </div>
    </body>
    </html>
